body {
    background-color: #D7B49E;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #05A8AA;
}

.page-footer {
    background-color: #05A8AA;
}

.brand-logo {
    font-family: 'Averia Sans Libre', cursive;
}

nav ul li {
    font-family: 'Averia Sans Libre', cursive;
}

.page-footer ul li {
    font-family: 'Averia Sans Libre', cursive;
}
.footer-copyright {
    font-family: 'Quicksand', sans-serif;
}