@use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;

body {
    font-family: 'Montserrat', sans-serif;
    color: #bc412b;
    margin: 0 5%;
}

.page-content {
    background-color: #d7b49e;
}

.nav-wrapper, main, .container, .page-footer {
    padding: 10px 5%;
}

.divider {
    background-color: lightgray;
    height: 2px;
}


input[type=text]:not(.browser-default) {
    background-color: white;
    color: #b8d5b8;
    padding: 0 0 0 5px;
    border-bottom: 2px solid #05a8aa;
}
input[type=text]:not(.browser-default):hover {
    background-color: #f3fcf3;
    color: #bc412b;
}

/* [type="checkbox"]:not(:checked) {
    opacity: 1.0;
} */

.collection a.collection-item {
    color: #bc412b;
}

label {
    color: #bc412b;
    margin-left: 20px;
    font-size: 1em;


}

.btn:hover {
    background-color: #05a8aa;
    
}
.btn {
    background-color: #05a8aa;
    box-shadow: none;
    margin: 0 10px 20px 10px;
    font-family: 'Montserrat', sans-serif;

}
.material-icons {
    vertical-align: center;
    font-size: 24px;

}

.mont-font {
     font-family: 'Montserrrat', sans-serif;
     font-size: 14px;
     padding-left: 5px;
 }

 nav {
    background-color: #05A8AA;
}

h5 {
    color: rgba(188, 65, 43, 0.3);
    transition: 500ms ease-in-out;
 }
h5:hover {
    color:rgba(188, 65, 43, 1.0);
}

.page-footer {
    background-color: #05A8AA;
    color: #bc412b;
    font-family: 'Montserrat', sans-serif;
}

.brand-logo {
    font-family: 'Averia Sans Libre', cursive;

}

nav ul li {
    font-family: 'Averia Sans Libre', cursive;
    transition: none;
}

.page-footer ul li {
    font-family: 'Averia Sans Libre', cursive;
}

.page-footer .footer-copyright {
    background-color: transparent;
}

.footer-copyright {
    font-family: 'Quicksand', sans-serif;

}

.container {
    width: 100%;
}



/* COLOR PALLETTE BELOW */
/* #05a8aa Verdigris (Dark Turquoise), used for header and footer background
    #b8d5b8 Turquoise Green, used for ?
    #d7b49e Desert Sand (light tanish-brown), used for body background
    #dc602e Flame (orange), used for accents/logos
    #bc412b International Orange Golden Gate Bridge (dark red-orange), used for font color */